/* Ustawienie domyślnej czcionki dla całej strony */
body {
    font-family: 'Inter', sans-serif;
}

/* Ustawienie siatki kalendarza na 7 kolumn */
.calendar-grid {
    grid-template-columns: repeat(7, minmax(0, 1fr));
}

/* Ukrycie strzałek w polach numerycznych dla przeglądarek WebKit (Chrome, Safari) */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* Ukrycie strzałek w polach numerycznych dla Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Animacja płynnego pojawiania się elementów */
.fade-in {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from { 
        opacity: 0; 
        transform: translateY(-10px); 
    }
    to { 
        opacity: 1; 
        transform: translateY(0); 
    }
}
